<html>
  <body>
<!--     {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %} -->

    <form action="/" method="post">
      <div>Location: <textarea name="location" rows="1" cols="60"></textarea></div>
      <div>Category: <textarea name="category" rows="1" cols="60"></textarea></div>
      <br></br>
      <div><input type="submit" value="Search"></div>
    </form>

    <hr>
    
    <div id = "result">
       lat :  {{ lat }}
      <div id = "google">
      </div>
        lng : {{ lng }}
      <div id = "Twitter">
          twit : {{ twitest }}
      </div>

    </div>

  </body>
</html>